.card {
  
  border-radius: 2px;
  height: 210px;
  margin: 1rem;
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  
}

.card > .img-container {
  height: 200px;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}

.img-container:hover{
  cursor: pointer;
  background: white;
  
}
.img {
  height: 175px;
  width: 175px;
  padding-top: 40px;
  
}
.img:hover{
  cursor: pointer;
  
}

#btn {
  text-align: center;
  background: white;
}



